{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinoTV</title>
    <link rel="icon" href="{% static "image.png" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <div class="card-container">
        <div class="card green">
            <div class="card-content">
                <div class="card-header">
                    <h2>{{ user_count }}</h2>
                    <i class="icon">👥</i>
                </div>
                <div class="card-bar">
                    <div class="progress"></div>
                </div>
                <div class="card-footer">
                    <p>Users</p>
                    <span>+5.2% ↑</span>
                </div>
            </div>
        </div>
        <div class="card blue">
            <div class="card-content">
                <div class="card-header">
                    <h2>{{ movies_count }}</h2>

                    <i class="icon">🎬</i>
                </div>
                <div class="card-bar">
                    <div class="progress"></div>
                </div>
                <div class="card-footer">
                    <p>Movies</p>
                    <span>+4.2% ↑</span>
                </div>
            </div>
        </div>
        <div class="card orange">
            <div class="card-content">
                <div class="card-header">
                    <h2>{{ category_count }}</h2>
                    <i class="icon">🎥</i>
                </div>
                <div class="card-bar">
                    <div class="progress"></div>
                </div>
                <div class="card-footer">
                    <p>Category</p>
                    <span>+1.2% ↑</span>
                </div>
            </div>
        </div>
        <div class="card red">
            <div class="card-content">
                <div class="card-header">
                    <h2>{{ episode_count }}</h2>
                    <i class="icon">🎞️</i>
                </div>
                <div class="card-bar">
                    <div class="progress"></div>
                </div>
                <div class="card-footer">
                    <p>Episode</p>
                    <span>+2.2% ↑</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
